out
local.properties
build
.gradle
.idea/libraries
.idea/dataSources.ids
.idea/dataSources.local.xml
darwinlib
PE-server
PMEditor
DarwinClients
DarwinCommon
DarwinGenerators
DarwinJavaApi
DarwinRealm
DarwinServices
JavaCommonApi
PE-dataservices
PE-diagram
