/gh-pages
reports
out
local.properties
build
.kotlin
.gradle
.idea/libraries
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources
.idea/runConfigurations/_template_*
*/*.iml
*.iml
.idea/gradle.xml
captures
/*/gen
wiki
/extinfo/
/.idea/caches/
/.idea/shelf/
/.idea/modules/
/.idea/workspace.xml
/pages
