[versions]
ktor = "1.6.8"
junit5-jupiter = "5.9.2"
kotlinx-serialization = "1.5.0"
kotlin = "1.8.20"
dokka = "1.7.20"
binaryValidator = "0.13.0"
woodstox = "6.2.6"

[libraries]
logback-classic = "ch.qos.logback:logback-classic:1.2.10"
woodstox = { module = "com.fasterxml.woodstox:woodstox-core", version.ref="woodstox" }
kxml2 = "net.sf.kxml:kxml2:2.3.0"

ktor-serialization = { module = "io.ktor:ktor-serialization", version.ref = "ktor" }
ktor-server-netty = { module = "io.ktor:ktor-server-netty", version.ref = "ktor" }
ktor-server-test-host = { module = "io.ktor:ktor-server-test-host", version.ref = "ktor" }
ktor-server-core = { module = "io.ktor:ktor-server-core", version.ref = "ktor" }

junit5-api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit5-jupiter" }
junit5-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit5-jupiter" }

serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core", version.ref = "kotlinx-serialization" }
serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "kotlinx-serialization" }
kotlin-reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin"}

[plugins]
kotlinSerialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref="kotlin" }
kotlinMultiplatform = { id = "org.jetbrains.kotlin.multiplatform", version.ref="kotlin" }
kotlinJvm = { id = "org.jetbrains.kotlin.jvm", version.ref="kotlin" }
dokka = { id = "org.jetbrains.dokka", version.ref="dokka" }
binaryValidator = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version.ref="binaryValidator" }
