name: Publish snapshot
on:
    push:
        branches:
            - 'dev'
    workflow_dispatch:
jobs:
    build-and-publish:
        runs-on: macos-latest
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            GPG_PRIV_KEY: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
            GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v4.2.2
            -   name: Cached konan
                uses: actions/cache@v4.2.3
                with:
                    path: ~/.konan
                    key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
                    restore-keys: ${{ runner.os }}-konan-
            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    java-version: '21'
                    distribution: 'temurin'
            -   id: cache-gradle-windows
                name: Set up gradle
                uses: gradle/actions/setup-gradle@v4
            -   name: Yarn lock upgrade
                run: ./gradlew -PexcludeSchema kotlinUpgradeYarnLock
            -   name: Check
                run: ./gradlew -PexcludeSchema nativeTest jvmTest jvmCommonTest --stacktrace
                shell: bash
            -   name: Store reports
                if: failure()
                uses: actions/upload-artifact@v4
                with:
                    name: reports
                    path: |
                        **/build/reports/
                        **/build/test-results/
            -   name: Build
                run: ./gradlew assemble -PforceSnapshot=true -PexcludeSchema -Pnative.deploy=all
                shell: bash
            -   name: Upload
#                run: ./gradlew publishToSonatype -PforceSnapshot=true -PexcludeSchema -Possrh.username='${{ secrets.OSSRH_USERNAME }}' -Possrh.password='${{ secrets.OSSRH_PASSWORD }}' -Pnative.deploy=all --stacktrace
                run: ./gradlew publishAllPublicationsToMavenSnapshotRepository -PforceSnapshot=true -PexcludeSchema -Possrh.username='${{ secrets.OSSRH_USERNAME }}' -Possrh.password='${{ secrets.OSSRH_PASSWORD }}' -Pnative.deploy=all
                shell: bash
